body {
    width: 100%;
    font: normal 15pt Arial;
    background-color: rgb(251, 241, 147);
}
header {
    color: rgb(0, 0, 0);
    text-align: center;
}

section {
    width: 80%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.41);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#res {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    font-size: 15px;
    color: black;
    text-align: center;
    font-style: italic;
}